version: '3.8'

services:
  # Service MySQL
  mysql_db:
    image: mysql:latest
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: transport_db
      MYSQL_PASSWORD: Lawliet2004
      MYSQL_ROOT_PASSWORD: Lawliet2004
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - transport_network

  # Service Laravel (Backend)
  laravel_app:
    build: ./backend  # On construit l'image à partir du Dockerfile dans backend/
    container_name: laravel_app
    restart: always
    depends_on:
      - mysql_db
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mysql_db
      DB_PORT: 3306
      DB_DATABASE: transport_db
      DB_USERNAME: root
      DB_PASSWORD: Lawliet2004
    ports:
      - "8000:8000"
    networks:
      - transport_network

  # Service PhpMyAdmin
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: mysql_db
      PMA_PORT: 3306
    ports:
      - "8080:80"
    depends_on:
      - mysql_db
    networks:
      - transport_network

  # Service Angular (Frontend)
  angular_app:
    build: ./  # On construit l'image à partir du Dockerfile dans frontend/
    container_name: angular_app
    restart: always
    ports:
      - "4200:80"
    depends_on:
      - laravel_app
    networks:
      - transport_network

# Volumes persistants
volumes:
  mysql_data:

# Réseaux
networks:
  transport_network:
    driver: bridge
